////
/// @group configuration
/// @author James Stanger
////

//*************************
// IMAGES
//*************************

/// Global Images Folder Path
/// <br>*NOTE: This should be relative to the location the compiled css file will live.
/// @type String
$img-directory: '../assets';

//*************************
// THEME COLORS
//*************************

/// Theme White
/// @type Color
$theme-white: #f9f9f9;

/// Main Theme Color
/// <br><br>*NOTE: the main color should be relatively light in order for theming to work correctly. Valid examples include:
/// #ace1cb, #e1adb0, #ddb9e1, #a8aae1, #a1bae1, #a6d1e1.
/// @type Color
$theme-main: #a1bae1;

/// Main Color Dark
/// @type Color
$theme-main--dark: darken($theme-main, 55%);

/// Main Color Deep
/// @type Color
$theme-main--deep: darken($theme-main, 30%);

/// Main Color Light
/// @type Color
$theme-main--light: lighten($theme-main, 10%);

/// Link Theme Color
/// @type Color
$theme-link: #0063ff;

/// Secondary Theme Color
/// <br>*Note: this color is more flexible than the first because it is used less frequently. It should still be a brighter color.
$theme-secondary: #fea104;

/// Secondary Color Light
/// @type Color
$theme-secondary--light: lighten($theme-secondary, 10%);

/// Secondary Color Deep
/// @type Color
$theme-secondary--deep: saturate($theme-secondary, 20%);

/// Black Theme Color
/// @type Color
$theme-black: #0d0908;

/// Generic Theme Color
/// @type Color
$theme-generic: #d9d9d9;