@import "../../../global/variables";

.smart-card {
  min-width: 300px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 5px -1px black;
  background: #f4f4f4;
}

.smart-card--container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  transition: all 300ms ease-in-out;
}

.smart-card--actions {
  padding: 10px;
}

.smart-card--info {
  padding: 10px;
}

.smart-card--description {
  margin: 0;
}

.smart-card--toggle {}

.smart-card--title {
  margin: 0 auto;
  font-size: 1.5em;
}

.smart-card--header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  overflow: hidden;
}

.smart-card--content {
  background: white;
  border-top: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
}