@import "../../../global/mixins";
@import "../../../global/variables";

////
/// @group smart-accordion
/// @author James Stanger
////

/// Defines a responsive accordion.
/// <br> *NOTE: As of now, these styles are only to support the Vue.js implementation of the Smart-Accordion.
///             This component will not work in the example below or in the vanilla version of this framework.
/// @example njk
///   {% include 'smart-accordion.njk' %}
.smart-accordion {
  width: 100%;
}

/// Styles the toggle button for the accordion.
/// @requires {variable} theme-generic
/// @requires {variable} theme-main
/// @example html - Not expanded
///   <button class="smart-accordion--toggle">Click to expand</button>
/// @example html - Expanded
///   <button class="smart-accordion--toggle is-expanded">Click to expand</button>
.smart-accordion--toggle {
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  cursor: pointer;
  min-height: 50px;
  width: 100%;
  font-size: 2em;
  background: $theme-generic;
  border: none;
  text-align: left;
  background: lighten($theme-generic, 5%);

  &:after {
    /* Only apply drop-arrow on hover */
    @include drop-arrow(-11px, 15px);
  }

  &.is-expanded {
    border-radius: 10px 10px 0 0;
    &:after {
      /* Only apply drop-arrow on hover */
      @include drop-arrow(10px, 15px, 10px);
    }
  }
}

/// Sets the toggle button to be centered
.smart-accordion--centerToggle {
  text-align: center;
}


.smart-accordion--content {
  background: lighten($theme-generic, 10%);
  box-shadow: 0 0 2px 0 inset;
}