@import "../../../global/variables";
@import "../../../global/mixins";

.smart-section {
  padding: 5px;
  margin: 0;
  background: $theme-main--light;
  color: $theme-white;
}

.smart-section--title {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}
