@import "../../../global/mixins";
@import "../../../global/variables";

////
/// @group bit-buttons
/// @author James Stanger
////

/// Sets base styles for a button.
/// @requires {variable} theme-main--deep
/// @requires {variable} theme-white
/// @example html
///   <button class="bit-btn">Click</button>
.bit-btn {
  border-radius: 5px;
  padding: 0 3px;
  min-height: 35px;
  min-width: 35px;
  background: $theme-secondary--deep;
  border: none;
  color: $theme-white;
  box-sizing: content-box;
  text-align: center;
  text-decoration: none;
}

/// Styles clickable button animation.
/// <br>*Note: This is NOT necessary on elements such as bit-btn-search, bit-btn-add, etc. These already have the functionality built in.
/// @requires {mixin} clickable
/// @example html
///   <button type="button" class="bit-btn bit-btn-clickable">Click</button>
.bit-btn-clickable {
  @include clickable;
}

/// Expands a button to make it large size
/// @example html
///   <button type="button" class="bit-btn bit-btn-clickable bit-btn-large">Click</button>
.bit-btn-large {
  width: 100px;
}

/// Expands a button to make it medium size
/// @example html
///   <button type="button" class="bit-btn bit-btn-clickable bit-btn-medium">Click</button>
.bit-btn-medium {
  width: 75px;
}

/// Expands a button to make it small
/// @example html
///   <button type="button" class="bit-btn bit-btn-clickable bit-btn-small">Click</button>
.bit-btn-small {
  width: 50px;
}

/// Styles a search button.
/// @requires {mixin} clickable
/// @requires {mixin} icon
/// @requires {mixin} icon-url
/// @example html
///   <button type="button" class="bit-btn bit-btn-search">Search</button>
.bit-btn-search {
  @include clickable;

  &:before {
    @include icon;
    @include icon-url('search')
  }
}

/// Styles an add button.
/// @requires {mixin} clickable
/// @requires {mixin} icon
/// @example html
///   <button type="button" class="bit-btn bit-btn-add">Add</button>
.bit-btn-add {
  @include clickable;
  line-height: 35px;
  display: inline-block;
  border-radius: 35px;

  min-width: 0;
  width: 30px;
  height: 35px;

  &:before {
    @include icon("+");
    font-weight: bolder;
  }
}

/// Styles a reset button.
/// @requires {mixin} clickable
/// @requires {mixin} icon
/// @requires {mixin} icon-url
/// @example html
///   <button type="button" class="bit-btn bit-btn-reset">Reset</button>
.bit-btn-reset {
  @include clickable;
  &:before {
    @include icon;
    @include icon-url('reset');
  }
}

/// Styles an expand button.
/// @requires {mixin} bit-btn-noBackground
/// @requires {mixin} clickable-shadowless
/// @requires {mixin} icon
/// @requires {variable} theme-secondary--deep
/// @example html
///   <button type="button" class="bit-btn bit-btn-expand"></button>
.bit-btn-expand {
  @include bit-btn-noBackground;
  line-height: 1.7;

  &:active {
    @include click;
  }

  @include clickable;
  font-size: 15px;
  font-weight: 900;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
  border-radius: 1em;
  background: $theme-main--light;
  box-sizing: border-box;
}

/// Styles an exit button.
/// @requires {mixin} clickable
/// @requires {mixin} icon
/// @requires {mixin} icon-url
/// @example html
///   <button type="button" class="bit-btn bit-btn-exit"></button>
.bit-btn-exit {
  @include clickable;

  &:before {
    @include icon();
    @include icon-url('exit');
  }
}

/// Styles a completely clear button with small box shadow
/// @requires {mixin} clickable
/// @example html
///   <button type="button" class="bit-btn bit-btn-clear"></button>
.bit-btn-clear {
  @include clickable;
  background: none;
  box-shadow: 0 0 2px;
}
