@import "../../../global/variables";

////
/// @group smart-search
/// @author James Stanger
////

@mixin style-action {
  display: flex;
  flex-direction: column;

  margin: 0 20px;

  &:hover {
    cursor: pointer;
  }
}

/// Defines a container that will hold all of the search components.
/// @requires {variable} theme-generic
/// @example njk
///   <!-- Default state -->
///   {% include 'smart-search.njk' %}
/// @example njk
///   <!-- Expanded state -->
///   {% set isExpanded = true %}
///   {% include 'smart-search.njk' %}
.smart-search {
  box-shadow: 0 0 3px 0 $theme-black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.smart-search--searchContainer {
  display: flex;
  align-items: flex-start;
}

.smart-search--searchField {
  margin-left: 10px;
}

.smart-search--reset {
  @include style-action;
}

.smart-search--resetIcon {
  margin-top: 5px;
}

.smart-search--add {
  @include style-action;
}

.smart-search--addField {
  margin-left: 10px;
}