////
/// @group bit-link
/// @author James Stanger
////

/// Sets base styles for a link and defines hover transitions.
/// @requires {variable} theme-generic
/// @requires {variable} theme-link
/// @example html
///   <a class="bit-link" href="#">Click</a>
.bit-link {
  text-decoration: none;
  color: darken($theme-generic, 40%);
  transition: color 300ms ease-in-out;
  display: inline-block;
  width: 100%;

  &:hover {
    color: $theme-link;
  }
}